* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

button {
  background-color: #f5ba13;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-family: "McLaren", cursive;
  display: inline-block;
  font-size: 16px;
  width: 36%;
  height: 36%;
  cursor: pointer;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 35px;
  color: #f5ba13;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color: #fff;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.user {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 500;
  font-size: larger;
}

@media (max-width: 1024px) {
  header {
    background-color: #f5ba13;
    margin: auto;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  button {
    background-color: #f5ba13;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: "McLaren", cursive;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    height: 20%;
    cursor: pointer;
  }

  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 30%;
    margin: 16px;
    float: left;
  }
  form {
    position: relative;
    width: 40%;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
}
